/* CSS Resets */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* Web Font Definition */

  @font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* CSS Pagewide Styles */

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
}

.main-body-div {
    display: flex;
    height: 100%;
}

a, a:visited {
    color: white;
}

/* Sidebar/Image Section */

.main-image-div {
    position: relative;
    width: 35%;
}

.main-image-div img {
    height: 100%;
}

.main-image-logo {
    position: absolute;
    height: 15%;
    width: 100%;
    padding: 1rem;
    top: 20%;
    color: white;
    background: rgb(0 0 0 / 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-credits {
    position: absolute;
    bottom: 0.5%;
    left: 32.5%;
    color: white;
}

.odin-header {
    font-family: Norse;
    font-size: 6rem;
}

/* Main/Content Section */

.main-content-div {
    flex: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Main Content's Content */

.main-content-intro {
    height: 35%;
    padding: 5rem 3rem;
    font-size: 1.5rem;
    background-color: #eee;
}

.main-content-intro > p {
    font-weight: bold;
    max-inline-size: 55ch;
    margin: 1.5rem 0;
}

.main-content-intro .italic {
    font-style: italic;
}

/* Main Content's Form */

.main-content-form {
    height: auto;
    padding: 1rem 3rem;
    box-shadow: 0px 2px 10px gray;
    z-index: 1;
}

.main-content-form h2 {
    font-size: 1.6rem;
}

.form-controls {
    width: 70%;
    padding: 1rem 0;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 5rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control > label {
    width: 300px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #333;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
}

.form-control > input {
    width: 300px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    padding: 6px 12px;
    line-height: 1.8rem;
}

.form-control > input[type="password"]:invalid {
    outline: 1px solid red;
}

.form-control > input:valid {
    background-color: #596D4811;
}

.form-control > input:focus {
    background-color: transparent;
    outline: 1px solid blue;
    box-shadow: 1px 1px 5px black;
}

.form-control > input:placeholder-shown {
    background-color: transparent;
}

/* Main Content's Submission */

.main-content-submission {
    height: 35%;
    padding: 2rem 3rem;
    font-size: 1.1rem;
    background-color: #f2f2f2;
}

.main-content-submission button {
    color: white;
    background: #596D48;
    font-weight: bold;
    border: 1px solid #596D48;
    border-radius: 0.5rem;
    padding: 0.75rem 4rem;
    margin-bottom: 1.5rem;
}

.main-content-submission a {
    font-weight: bold;
    text-decoration: none;
    color: #596D48;
}